/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&family=Song+Myung&display=swap');

/* container */
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    margin: 0 20px;
    position: relative;
}
h2{
    font-weight: 400;
    font-size: 20px;
    color: #73AC76;
    margin: 10px 0;
}
.all_icon{
    float: right;
    position: relative;
    bottom: 20px;
}

/* header */
#header .logo{
    font-weight: 700;
    font-size: 30px;
    color: #393939;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
#header .menu{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    background: linear-gradient(180deg, #000000 0%, #D2D2D2 100%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px
}

/*main*/

/*daily*/
.daily{
    margin-top: 20px;
    padding: 20px 0;
    overflow: hidden;
}

.daily .d_img{
    float: left;
    width: 47%;
    margin-right: 3%;
}
.daily .d_img:last-child{
    margin-right: 0;
}

/*album*/
.album{
    margin-top: 0;
    padding: 20px 0;
    overflow: hidden;
}
.album .al_img{
    float: left;
    width: 33%;
    margin-right: 2%;
}
.album .al_img:last-child{
    margin-right: 0;
}
.album .al_title .al_tit{
    font-size: 14px;
    color: red;
    line-height: 20px;
}
.album .al_title .al_desc{
    font-size: 12px;
    color: bisque;
    line-height: 20px;
}

/*slidemenu*/
#slide-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  #slide-menu.hidden {
    transform: translateX(0);
  }